/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.screen {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

.hidden {
  display: none;
}

.phantomlogo {
  width: 80px;
  margin-bottom: 20px;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 36px;
  margin: 10px 0;
}

.tasks {
  margin-top: 20px;
}

.tasks h2 {
  margin-bottom: 15px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the 'Start' and 'Complete' buttons */
.btn {
  background-color: #007bff;
  color: white;
  text-decoration: none; /* Remove the underline */
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background-color: #0056b3;
}

.completed-btn {
  background-color: #0056b3; /* Green for completed tasks */
  pointer-events: none; /* Disable interaction */
}

/* Leaderboard styles */
.leaderboard {
  margin-top: 20px;
}

.leaderboard-item {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

/* Bottom navigation */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.nav-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-btn.active {
  font-weight: bold;
  color: #007bff;
}
